#chess {
    border-collapse: collapse;
}

#chess td {
    border: 1px solid black;
    width: 25px;
    height: 25px;
}

#chess tr:nth-child(1) td {
    background: white !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    text-align: center !important;
}

#chess tr td:nth-child(1) {
    background: white !important;
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;
    text-align: center !important;
}

#chess tr:nth-child(even) td:nth-child(even){
    background: black;
}

#chess tr:nth-child(odd) td:nth-child(odd){
    background: black;
}